<div class="row">
  <div class="col-8 mx-auto">
    <form class="formclass" {{on "submit" this.signIn}}>
      <h3 class="sign-in text-light">Log in to your account</h3>
      <div class="email-id mb-4 mt-4">
        <Input
          @type="email"
          class="email-input p-3"
          id="email-field"
          placeholder="Enter Email"
          @value={{this.email}}
          autocomplete="off"
        />
      </div>
      <div class="pwd">
        <Input
          @type="password"
          autocomplete="off"
          class="password-input p-3"
          id="password-field"
          placeholder="Enter Password"
          @value={{this.password}}
        />

      </div>
      <button type="submit" class="login-button" {{on "click" this.signIn}}>Log In</button>
        <p class="text-white password-error">{{this.passwordError}}</p>
        <p class="text-white">{{this.errorMessage}}</p>
        <p class="text-white email-error">{{this.emailError}}</p>
      <div class="passwords">
        <LinkTo @route="forgot-password"><a class="passwords">Forgot password ?</a></LinkTo>
      </div>
    </form>
  </div>
      
</div>