<div class="activities-wrap">
  <div class="accordion-header">
    <h5 class="activities p-2">Activities</h5>
  </div>
  <div class="rewards d-flex justify-content-center bg-light">
    <div class="total-points p-3">
      <h2>{{this.totalPoints}}</h2>
      <p>Total Points</p>
    </div>
    <div class="block ms-4 me-4 mt-3"></div>
    <div class="total-rewards p-3">
      <h2>{{this.totalRewards}}</h2>
      <p>Total Rewards</p>
    </div>
  </div>
  <div class="accordion accordion-flush" id="accordionFlushExample">
    {{#each this.items as |item|}}
      {{log item}}
      <div class="accordion-item mt-1">
        <h2 class="accordion-header">
          <button
            class="accordion-button collapsed"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#{{item.activityName}}"
            aria-expanded="false"
            aria-controls="flush-collapseOne"
          >
            {{item.activityName}}
          </button>
        </h2>
        <div
          id={{item.activityName}}
          class="accordion-collapse collapse"
          data-bs-parent="#accordionFlushExample"
        >
          <div class="accordion-body d-flex justify-content-between">
            <p>Start Date</p>
            <p>{{item.activityStartDate}}</p>
          </div>
          <div class="accordion-body d-flex justify-content-between">
            <p>End Date</p>
            <p>{{item.activityCompletionDate}}</p>
          </div>
        </div>
      </div>
    {{/each}}
  </div>
</div>