<div class="activities">
  <ul class="list-group">
    <li class="Activity-header d-flex p-2">Activities</li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      Activity Name
      <span class="text-dark">{{this.activity.activityName}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      Points Earned
      <span class="badge text-dark">{{this.activity.pointsEarned}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      Rewards Earned
      <span class="text-dark">${{this.activity.rewardsEarned}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      Start Date
      <span class="badge text-dark">{{this.activity.activityStartDate}}</span>
    </li>
    <li
      class="list-group-item d-flex justify-content-between align-items-center p-2"
    >
      Completion Date
      <span
        class="badge text-dark"
      >{{this.activity.activityCompletionDate}}</span>
    </li>
  </ul>
</div>