<form class="premis-wrap m-5" {{on 'submit' this.navigateToDashboard}}>
  <div class="select-account m-5 d-flex">
    <p>Choose an account number: </p>
    <select class="accounts ms-2" {{on "change" this.selectAccount}}>
      <option value="">-- Select an Account --</option>
      {{#each this.accounts as |account|}}
        <option class="choose-account" value={{account}}>{{account}}</option>
      {{/each}}
    </select>
  </div>
  <div class="select-premises m-5 d-flex">
    <p>Choose a premise number:</p>
    <select
      class="premise ms-3"
      {{on "change" this.selectPremise}}
      disabled={{this.isPremisesDisabled}}
    >
      <option value="">-- Select a Premise --</option>
      {{#each this.premises as |premise|}}
        <option class="choose-account" value={{premise}}>{{premise}}</option>
      {{/each}}
    </select>
  </div>
  <button class="button" disabled={{this.isSubmitDisabled}} type="submit">Submit</button>
</form>