{{page-title "CustomerDetails"}}
{{!-- {{outlet}} --}}
{{!-- <h2>Customer Details</h2>
<ul>
  {{#each model.CustomerDetails as |customerDetail|}}
<li>Email: {{customerDetail.email}}, Account Number: {{customerDetail.accountNumber}}, Site Address: {{customerDetail.siteAddress}}</li>
  {{/each}}
</ul>

<h2>hello</h2> --}}